<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Private_API_Key</key>
	<string>55e31e1206cda3bb3f2901bb20fc615e714934bf</string>
	<key>Public_API_Key</key>
	<string>91f019b70e4c52f72436935c68147abf</string>
</dict>
</plist>
